
.sideBar{
    width: 100px;
    height: 537px;
    border-radius: 40px;
    padding: 20px;
    background: #DEAB4D ;
}
@media (max-width: 768px) {
    .sideBar{
        display: none;
    }

}

.menu {
    padding-top: 3rem;
}
.icmenu {
    width: 95px;
    height: 78px;
    margin-top: 1rem;
    margin-left: -1rem;
}

