
.sideBar{
    width: 100px;
    height: 537px;
    border-radius: 40px;
    padding: 20px;
    background: #DEAB4D ;
}
@media (max-width: 768px) {
    .sideBar{
        display: none;
    }

}
.side{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*margin-top: 100px;*/
}
.side__p{
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-align: center;
}

.side__top{
    margin-bottom: 100px;
}
.side__nav{
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-align: center;
    margin-bottom: 22px;
}
.side__explori{
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    text-align: center;
    margin-bottom: 22px;
}
.side__explor{
    text-align: center;
    margin-left: 5px;
}